# Determination of  shipâ€™s effective power by implementing neural networks.

In this notebook, we have implemented neural networks to determine ship effective power at operating conditions. This notebook is a modified version of one of the applications discussed in the technical paper published in Naval Engineers Journal wherein they have have more attributes present in their dataset which isn't publicly available. Therefore, we have implemented this model with real-world data that was scraped from [Fleetmon](https://www.fleetmon.com/) which contains most of the attributes which were present in the original dataset used in the paper.

Link : [Application of Artificial Intelligence Methods to Preliminary Design of Ships and Ship Performance Optimization](https://www.researchgate.net/profile/Tomasz-Abramowski/publication/259361068_Application_of_Artificial_Intelligence_Methods_to_Preliminary_Design_of_Ships_and_Ship_Performance_Optimization/links/5ac5f1d30f7e9b1067d5715f/Application-of-Artificial-Intelligence-Methods-to-Preliminary-Design-of-Ships-and-Ship-Performance-Optimization.pdf)

###Imports

In [129]:
from google.colab import drive

drive.mount('/content/gdrive')  #mouting google drive files into colab

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [130]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras

# Helper libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

`%tensorflow_version` only switches the major version: 1.x or 2.x.
You set: `2.x  # this line is not required unless you are in a notebook`. This will be interpreted as: `2.x`.


TensorFlow is already loaded. Please restart the runtime to change versions.

###Loading Dataset

In [131]:
df = pd.read_csv('/content/gdrive/MyDrive/semi_final_dataset.csv', encoding = 'unicode_escape')  # load dataset
df.head() #1st five rows

   Sr No       Vessel_Name  Length(m)  ...  Unnamed: 21 Unnamed: 22  Unnamed: 23
0      0      MAREN MAERSK        399  ...          NaN         NaN          NaN
1      1    MARCHEN MAERSK        399  ...          NaN         NaN          NaN
2      2   MATHILDE MAERSK        399  ...          NaN         NaN          NaN
3      3      METTE MAERSK        399  ...          NaN         NaN          NaN
4      4  MARGRETHE MAERSK        399  ...          NaN         NaN          NaN

[5 rows x 24 columns]

Let's have a look at this data to see what we are working with.

In [132]:
df.shape  #Returning a tuple conataning dimension of df in the form (rows, columns)

(401, 24)

In [133]:
df.dtypes #returning a series with the data type of each column of df

Sr No                      int64
Vessel_Name               object
Length(m)                  int64
Width(m)                   int64
Draught Avg(m)            object
Speed Avg(knots)         float64
Speed Max(knots)          object
Deadweight(tonnes)         int64
Gross Tonnage(tonnes)      int64
Total Power (kW)         float64
Engine                    object
Unnamed: 11              float64
Unnamed: 12              float64
Unnamed: 13              float64
Unnamed: 14              float64
Unnamed: 15              float64
Unnamed: 16              float64
Unnamed: 17              float64
Unnamed: 18              float64
Unnamed: 19              float64
Unnamed: 20              float64
Unnamed: 21              float64
Unnamed: 22              float64
Unnamed: 23              float64
dtype: object

After looking at the columns we can see that the columns which start with name "Unnamed" aren't useful to us. Therefore we have to remove those colummns. This will be dealt with in the preprocessing section.

##Data Preprocessing
The last step before creating our model is to *preprocess* our data. 

First, we only choose columns which are useful to us from the extracted dataset.
Then we will try to create new columns which are useful for our particular case here. Finally, we will end with normalization of the whole dataset and move towards making our model.

In [134]:
df_final = df.iloc[:,2:10]    #saving colunms from index 2 to 9 from df to df_final since column 0,1 are just serial nos and column 10 to 23 are 
df_final

     Length(m)  Width(m)  ... Gross Tonnage(tonnes)  Total Power (kW)
0          399        59  ...                194849           23310.0
1          399        59  ...                194849           23310.0
2          399        59  ...                194849           23310.0
3          399        59  ...                194849           23310.0
4          399        59  ...                194849           46620.0
..         ...       ...  ...                   ...               ...
396        299        40  ...                 75590           57100.0
397        243        32  ...                 37579           28350.0
398        210        30  ...                 26836           21560.0
399        202        31  ...                 30567           16260.0
400        139        20  ...                  8766               NaN

[401 rows x 8 columns]

We have to remove the rows with NaN value

In [135]:
df_final.dropna(axis=0,inplace=True) #updating df_final by droping rows which contain missing values 
df_final.head()

   Length(m)  Width(m)  ... Gross Tonnage(tonnes)  Total Power (kW)
0        399        59  ...                194849           23310.0
1        399        59  ...                194849           23310.0
2        399        59  ...                194849           23310.0
3        399        59  ...                194849           23310.0
4        399        59  ...                194849           46620.0

[5 rows x 8 columns]

In [136]:
df_final.shape  #Returning a tuple conataning dimension of df_final in the form (rows, columns)

(356, 8)

In [137]:
df_final.dtypes #returning a series with the data type of each column of df_final

Length(m)                  int64
Width(m)                   int64
Draught Avg(m)            object
Speed Avg(knots)         float64
Speed Max(knots)          object
Deadweight(tonnes)         int64
Gross Tonnage(tonnes)      int64
Total Power (kW)         float64
dtype: object

After looking into the type of various columns, we realize that columns such as 
*Draught Avg(m)* and *Speed Max(knots)* should be float values instead of object values. Therefore, we convert them to float values.

In [138]:
cols = ['Draught Avg(m)','Speed Max(knots)']    
df_final[cols] = df_final[cols].apply(pd.to_numeric, errors='coerce') #Converting to a numeric type, errors='coerce' will covert invalid parsing into NaN
df_final.dtypes #returning a series with the data type of each column of df_final

Length(m)                  int64
Width(m)                   int64
Draught Avg(m)           float64
Speed Avg(knots)         float64
Speed Max(knots)         float64
Deadweight(tonnes)         int64
Gross Tonnage(tonnes)      int64
Total Power (kW)         float64
dtype: object

Now we proceed to create new columns which are not derived from the heatmap of the dataset but from the knowledge of the problem that we are trying to solve.

In [139]:
df_final['Froude Number'] = df_final['Speed Avg(knots)']/((9.81*df_final['Length(m)'])**(1/2))  #adding new column "Froude Number" using "speed avg(knots)" column to df_final
df_final['L/B'] = df_final['Length(m)']/(df_final['Width(m)'])  #adding new column "L/B" using "Length(m)" and "Width(m)" column to df_final
df_final['B/T'] = df_final['Width(m)']/(df_final['Draught Avg(m)']) #adding new column "L/B" using "Width(m" and "Draught Avg(m)" column to df_final
df_final.head()

   Length(m)  Width(m)  Draught Avg(m)  ...  Froude Number       L/B       B/T
0        399        59            12.0  ...       0.241355  6.762712  4.916667
1        399        59            13.2  ...       0.234961  6.762712  4.469697
2        399        59            13.8  ...       0.239756  6.762712  4.275362
3        399        59            13.9  ...       0.238158  6.762712  4.244604
4        399        59            13.7  ...       0.233363  6.762712  4.306569

[5 rows x 11 columns]

In [140]:
df_final.shape  #Returning a tuple conataning dimension of df_final in the form (rows, columns)

(356, 11)

Finally, we move our target column **Total Power (kW)** to the end of the dataset

In [141]:
column_to_move = df_final.pop('Total Power (kW)') #deleting the column "Total Power (kW)" from df_final and saving it in column_to_move


# insert column with insert(location, column_name, column_value)

df_final.insert(df_final.shape[1], 'Total Power (kW)', column_to_move)  #inserting column "Total Power (kW)" at the end of df_final
df_final.head()

   Length(m)  Width(m)  Draught Avg(m)  ...       L/B       B/T  Total Power (kW)
0        399        59            12.0  ...  6.762712  4.916667           23310.0
1        399        59            13.2  ...  6.762712  4.469697           23310.0
2        399        59            13.8  ...  6.762712  4.275362           23310.0
3        399        59            13.9  ...  6.762712  4.244604           23310.0
4        399        59            13.7  ...  6.762712  4.306569           46620.0

[5 rows x 11 columns]

### Clean the data

The dataset contains a few unknown values: Now we remove those entries 
before proceeding towards normalization.

In [142]:
df_final.isnull().sum().sum() #total number of "NaN" in df_final

4

In [143]:
df_final.dropna(axis=0,inplace=True)   #updating df_final by droping rows which contain missing values

In [144]:
df_final.isnull().sum().sum() #total number of "NaN" in df_final

0

Finally we store our training variables and target variable in *train_labels* and *test_label* respectively.

In [145]:
train_labels = df_final.columns[:-1]  #saving all the column except "Total Power" column in train_labels
train_labels

Index(['Length(m)', 'Width(m)', 'Draught Avg(m)', 'Speed Avg(knots)',
       'Speed Max(knots)', 'Deadweight(tonnes)', 'Gross Tonnage(tonnes)',
       'Froude Number', 'L/B', 'B/T'],
      dtype='object')

In [146]:
test_label = df_final.columns[-1]   #saving  column "Total Power" column in test_labels
test_label

'Total Power (kW)'

In [147]:
df_final.describe().transpose() #

                       count          mean  ...            75%            max
Length(m)              354.0    304.163842  ...     366.000000     399.000000
Width(m)               354.0     41.220339  ...      48.000000      59.000000
Draught Avg(m)         354.0     11.395198  ...      12.800000      14.800000
Speed Avg(knots)       354.0     13.396045  ...      14.000000      16.600000
Speed Max(knots)       354.0     23.999435  ...      25.100000      29.700000
Deadweight(tonnes)     354.0  95539.632768  ...  140969.250000  196000.000000
Gross Tonnage(tonnes)  354.0  90841.183616  ...  141003.000000  215860.000000
Froude Number          354.0      0.249657  ...       0.256520       0.488491
L/B                    354.0      7.393392  ...       7.711111       9.218750
B/T                    354.0      3.675010  ...       3.907428      29.500000
Total Power (kW)       354.0  51550.627802  ...   68640.000000  177771.000000

[11 rows x 8 columns]

### Split the data into training and test sets

Now, split the dataset into a training set and a test set. You will use the test set in the final evaluation of your models.

In [148]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( df_final[train_labels], df_final[test_label], test_size=0.2, random_state=42)
#saving random  20% of train_label to X_test
#saving random  20% of test_label to Y_test
#saving random  80% of train_label to X_train
#saving random  80% of test_label to Y_train

In [149]:
X_train.shape #Returning a tuple conataning dimension of X_train in the form (rows, columns)

(283, 10)

## Data Normalization

Now we proceed to define a normalization layer which will normalize our data while we are running the model and not normalize the dataset directly.

The `tf.keras.layers.Normalization` is a clean and simple way to add feature normalization into your model.

The first step is to create the layer:

In [150]:
normalizer = tf.keras.layers.Normalization(axis=-1)

Then, fit the state of the preprocessing layer to the data by calling `Normalization.adapt`:

In [151]:
normalizer.adapt(df_final[train_labels])

Calculating the mean:

In [152]:
print(normalizer.mean.numpy())

[[3.0416382e+02 4.1220333e+01 1.1395197e+01 1.3396046e+01 2.3999435e+01
  9.5539641e+04 9.0841164e+04 2.4965744e-01 7.3933911e+00 3.6750097e+00]]

##Building the Model
Now it's time to build the model! We are going to use a keras *sequential* model with three different layers. This model represents a feed-forward neural network (one that passes values from left to right). We'll break down each layer and its architecture below.

In [153]:
model = keras.Sequential([
    normalizer,         # input layer (1)
    keras.layers.Dense(10, activation='swish'),  # hidden layer (2)
    keras.layers.Dense(10, activation='swish'),  # hidden layer (3)
    keras.layers.Dense(10, activation='swish'),  # hidden layer (4)
    keras.layers.Dense(1) # output layer (3)
])
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization_4 (Normalizati (None, 10)                21
_________________________________________________________________
dense_16 (Dense)             (None, 10)                110
_________________________________________________________________
dense_17 (Dense)             (None, 10)                110
_________________________________________________________________
dense_18 (Dense)             (None, 10)                110
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 11
=================================================================
Total params: 362
Trainable params: 341
Non-trainable params: 21
_________________________________________________________________

**Layer 1:** Our input layer is a normalization layer which provides data to the model normalized during execution. We use the normalization layer with an input shape of (10,10) to denote that our input should come in in that shape. 

**Layer 2,3,4:** These are our hidden layers. The *dense* denotes that this layer will be fully connected and each neuron from the previous layer connects to each neuron of this layer. 
Each hidden layer has  has 100 neurons and uses the swish  activation function 

`swish(x) = x * sigmoid(x)`

**Layer 5:** This is our output later and is also a dense layer. It has 1 neuron that we will look at to determine our models output.

###Compile the Model

Once the model is built, configure the training procedure using the Keras `Model.compile` method. The most important arguments to compile are the `loss` and the `optimizer`, since these define what will be optimized (`mean_absolute_error`) and how (using the `tf.keras.optimizers.Adam`).

In [154]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.1),
              loss='mean_absolute_error',
              metrics = ['mean_squared_error']
              )

##Training the Model

Now it's finally time to train the model. Since we've already done all the work on our data this step is as easy as calling a single method.

Having configured the training configured, use Keras `Model.fit` to execute the training for 100 epochs:

In [155]:
model.fit(X_train, y_train, batch_size= 128 ,epochs=100,validation_split = 0.1)  # we pass the data, labels and epochs

Epoch 1/100
2/2 [==============================] - 1s 186ms/step - loss: 51654.1367 - mean_squared_error: 3096751872.0000 - val_loss: 52500.9180 - val_mean_squared_error: 3213523200.0000
Epoch 2/100
2/2 [==============================] - 0s 21ms/step - loss: 51646.1250 - mean_squared_error: 3096205824.0000 - val_loss: 52475.9844 - val_mean_squared_error: 3211820032.0000
Epoch 3/100
2/2 [==============================] - 0s 21ms/step - loss: 51612.0938 - mean_squared_error: 3093620736.0000 - val_loss: 52400.4336 - val_mean_squared_error: 3206633216.0000
Epoch 4/100
2/2 [==============================] - 0s 20ms/step - loss: 51520.8047 - mean_squared_error: 3086178560.0000 - val_loss: 52219.3203 - val_mean_squared_error: 3194209024.0000
Epoch 5/100
2/2 [==============================] - 0s 21ms/step - loss: 51296.7734 - mean_squared_error: 3069550336.0000 - val_loss: 51840.0508 - val_mean_squared_error: 3168151552.0000
Epoch 6/100
2/2 [==============================] - 0s 23ms/step - loss: 50869.8594 - mean_squared_error: 3037093120.0000 - val_loss: 51117.0469 - val_mean_squared_error: 3118532096.0000
Epoch 7/100
2/2 [==============================] - 0s 22ms/step - loss: 50065.8984 - mean_squared_error: 2975223552.0000 - val_loss: 49868.5234 - val_mean_squared_error: 3033510400.0000
Epoch 8/100
2/2 [==============================] - 0s 21ms/step - loss: 48800.0430 - mean_squared_error: 2870654208.0000 - val_loss: 48571.0117 - val_mean_squared_error: 2902781696.0000
Epoch 9/100
2/2 [==============================] - 0s 20ms/step - loss: 47026.8047 - mean_squared_error: 2720331776.0000 - val_loss: 46807.5781 - val_mean_squared_error: 2721564672.0000
Epoch 10/100
2/2 [==============================] - 0s 22ms/step - loss: 44930.7852 - mean_squared_error: 2503147520.0000 - val_loss: 45403.5664 - val_mean_squared_error: 2503102976.0000
Epoch 11/100
2/2 [==============================] - 0s 21ms/step - loss: 42806.5586 - mean_squared_error: 2246694144.0000 - val_loss: 44170.2969 - val_mean_squared_error: 2263233024.0000
Epoch 12/100
2/2 [==============================] - 0s 20ms/step - loss: 40476.7070 - mean_squared_error: 1982167296.0000 - val_loss: 41082.0820 - val_mean_squared_error: 1946333056.0000
Epoch 13/100
2/2 [==============================] - 0s 21ms/step - loss: 37142.9375 - mean_squared_error: 1673829120.0000 - val_loss: 36037.4336 - val_mean_squared_error: 1522070528.0000
Epoch 14/100
2/2 [==============================] - 0s 20ms/step - loss: 32025.4922 - mean_squared_error: 1288845952.0000 - val_loss: 28572.5840 - val_mean_squared_error: 1046663040.0000
Epoch 15/100
2/2 [==============================] - 0s 22ms/step - loss: 26093.6699 - mean_squared_error: 952241408.0000 - val_loss: 21828.9512 - val_mean_squared_error: 677858880.0000
Epoch 16/100
2/2 [==============================] - 0s 20ms/step - loss: 21727.0156 - mean_squared_error: 826899072.0000 - val_loss: 20402.8359 - val_mean_squared_error: 639943424.0000
Epoch 17/100
2/2 [==============================] - 0s 22ms/step - loss: 22974.7949 - mean_squared_error: 985312128.0000 - val_loss: 20398.9941 - val_mean_squared_error: 668034176.0000
Epoch 18/100
2/2 [==============================] - 0s 22ms/step - loss: 22508.4727 - mean_squared_error: 975163968.0000 - val_loss: 17214.0742 - val_mean_squared_error: 495110848.0000
Epoch 19/100
2/2 [==============================] - 0s 21ms/step - loss: 19156.8262 - mean_squared_error: 737180416.0000 - val_loss: 13897.8848 - val_mean_squared_error: 341205376.0000
Epoch 20/100
2/2 [==============================] - 0s 21ms/step - loss: 16655.3438 - mean_squared_error: 542742976.0000 - val_loss: 13252.3643 - val_mean_squared_error: 327214368.0000
Epoch 21/100
2/2 [==============================] - 0s 21ms/step - loss: 16616.0000 - mean_squared_error: 507142944.0000 - val_loss: 13408.0430 - val_mean_squared_error: 310917600.0000
Epoch 22/100
2/2 [==============================] - 0s 23ms/step - loss: 16125.2168 - mean_squared_error: 476795232.0000 - val_loss: 10789.9404 - val_mean_squared_error: 238221456.0000
Epoch 23/100
2/2 [==============================] - 0s 44ms/step - loss: 14336.9844 - mean_squared_error: 418825216.0000 - val_loss: 10392.7461 - val_mean_squared_error: 193437216.0000
Epoch 24/100
2/2 [==============================] - 0s 29ms/step - loss: 13180.4033 - mean_squared_error: 400663072.0000 - val_loss: 11650.9668 - val_mean_squared_error: 206577136.0000
Epoch 25/100
2/2 [==============================] - 0s 22ms/step - loss: 12818.1748 - mean_squared_error: 393629792.0000 - val_loss: 10143.6289 - val_mean_squared_error: 167317728.0000
Epoch 26/100
2/2 [==============================] - 0s 24ms/step - loss: 11331.7412 - mean_squared_error: 331829792.0000 - val_loss: 7943.6831 - val_mean_squared_error: 136008640.0000
Epoch 27/100
2/2 [==============================] - 0s 29ms/step - loss: 10829.0117 - mean_squared_error: 287287648.0000 - val_loss: 8208.4082 - val_mean_squared_error: 134742832.0000
Epoch 28/100
2/2 [==============================] - 0s 23ms/step - loss: 10455.3770 - mean_squared_error: 266786752.0000 - val_loss: 7345.3560 - val_mean_squared_error: 111942536.0000
Epoch 29/100
2/2 [==============================] - 0s 24ms/step - loss: 9566.0322 - mean_squared_error: 245081920.0000 - val_loss: 7035.1348 - val_mean_squared_error: 97636672.0000
Epoch 30/100
2/2 [==============================] - 0s 23ms/step - loss: 9180.2363 - mean_squared_error: 243124432.0000 - val_loss: 7076.9263 - val_mean_squared_error: 88824928.0000
Epoch 31/100
2/2 [==============================] - 0s 22ms/step - loss: 8775.1377 - mean_squared_error: 226042624.0000 - val_loss: 6087.1729 - val_mean_squared_error: 67469872.0000
Epoch 32/100
2/2 [==============================] - 0s 21ms/step - loss: 8113.3325 - mean_squared_error: 205913248.0000 - val_loss: 7005.8115 - val_mean_squared_error: 75872328.0000
Epoch 33/100
2/2 [==============================] - 0s 25ms/step - loss: 8100.4912 - mean_squared_error: 209023200.0000 - val_loss: 6706.3345 - val_mean_squared_error: 66117364.0000
Epoch 34/100
2/2 [==============================] - 0s 24ms/step - loss: 7807.2549 - mean_squared_error: 201018464.0000 - val_loss: 5726.7358 - val_mean_squared_error: 53258568.0000
Epoch 35/100
2/2 [==============================] - 0s 25ms/step - loss: 7831.1240 - mean_squared_error: 213353616.0000 - val_loss: 5522.9458 - val_mean_squared_error: 55483300.0000
Epoch 36/100
2/2 [==============================] - 0s 22ms/step - loss: 7711.7275 - mean_squared_error: 219785680.0000 - val_loss: 6060.6099 - val_mean_squared_error: 59369288.0000
Epoch 37/100
2/2 [==============================] - 0s 24ms/step - loss: 7614.4595 - mean_squared_error: 208205328.0000 - val_loss: 6859.6860 - val_mean_squared_error: 67849368.0000
Epoch 38/100
2/2 [==============================] - 0s 21ms/step - loss: 7635.4614 - mean_squared_error: 206980256.0000 - val_loss: 6109.5435 - val_mean_squared_error: 63000516.0000
Epoch 39/100
2/2 [==============================] - 0s 23ms/step - loss: 7499.8188 - mean_squared_error: 213482304.0000 - val_loss: 5686.4600 - val_mean_squared_error: 60330532.0000
Epoch 40/100
2/2 [==============================] - 0s 23ms/step - loss: 7402.0679 - mean_squared_error: 212773712.0000 - val_loss: 5646.5957 - val_mean_squared_error: 56895320.0000
Epoch 41/100
2/2 [==============================] - 0s 24ms/step - loss: 7270.1753 - mean_squared_error: 205151840.0000 - val_loss: 5615.1338 - val_mean_squared_error: 56667652.0000
Epoch 42/100
2/2 [==============================] - 0s 33ms/step - loss: 7122.2627 - mean_squared_error: 197576624.0000 - val_loss: 5425.0776 - val_mean_squared_error: 56820176.0000
Epoch 43/100
2/2 [==============================] - 0s 21ms/step - loss: 7071.5234 - mean_squared_error: 194741264.0000 - val_loss: 5364.1064 - val_mean_squared_error: 56758924.0000
Epoch 44/100
2/2 [==============================] - 0s 30ms/step - loss: 7098.1416 - mean_squared_error: 198099504.0000 - val_loss: 5373.3477 - val_mean_squared_error: 57130552.0000
Epoch 45/100
2/2 [==============================] - 0s 22ms/step - loss: 7017.7783 - mean_squared_error: 196191872.0000 - val_loss: 5679.7798 - val_mean_squared_error: 57994592.0000
Epoch 46/100
2/2 [==============================] - 0s 20ms/step - loss: 7017.5620 - mean_squared_error: 188958416.0000 - val_loss: 5788.4219 - val_mean_squared_error: 58361176.0000
Epoch 47/100
2/2 [==============================] - 0s 21ms/step - loss: 6945.1860 - mean_squared_error: 190343872.0000 - val_loss: 5502.2373 - val_mean_squared_error: 57295404.0000
Epoch 48/100
2/2 [==============================] - 0s 23ms/step - loss: 7006.6094 - mean_squared_error: 198925088.0000 - val_loss: 5560.6216 - val_mean_squared_error: 57118020.0000
Epoch 49/100
2/2 [==============================] - 0s 23ms/step - loss: 6909.0967 - mean_squared_error: 194392448.0000 - val_loss: 5672.2529 - val_mean_squared_error: 56900396.0000
Epoch 50/100
2/2 [==============================] - 0s 24ms/step - loss: 6860.8750 - mean_squared_error: 189961952.0000 - val_loss: 5286.9756 - val_mean_squared_error: 54336720.0000
Epoch 51/100
2/2 [==============================] - 0s 25ms/step - loss: 6743.5557 - mean_squared_error: 194189088.0000 - val_loss: 5240.3574 - val_mean_squared_error: 54911300.0000
Epoch 52/100
2/2 [==============================] - 0s 21ms/step - loss: 6827.0415 - mean_squared_error: 200321712.0000 - val_loss: 5309.8765 - val_mean_squared_error: 54996196.0000
Epoch 53/100
2/2 [==============================] - 0s 22ms/step - loss: 6753.2598 - mean_squared_error: 193635168.0000 - val_loss: 5544.2749 - val_mean_squared_error: 55679288.0000
Epoch 54/100
2/2 [==============================] - 0s 22ms/step - loss: 6729.0356 - mean_squared_error: 189346032.0000 - val_loss: 5231.3135 - val_mean_squared_error: 54640296.0000
Epoch 55/100
2/2 [==============================] - 0s 21ms/step - loss: 6941.3804 - mean_squared_error: 202792640.0000 - val_loss: 5213.7603 - val_mean_squared_error: 54697720.0000
Epoch 56/100
2/2 [==============================] - 0s 23ms/step - loss: 6821.9517 - mean_squared_error: 192855712.0000 - val_loss: 5791.6821 - val_mean_squared_error: 58231620.0000
Epoch 57/100
2/2 [==============================] - 0s 21ms/step - loss: 6768.0181 - mean_squared_error: 184840384.0000 - val_loss: 5143.1089 - val_mean_squared_error: 55195564.0000
Epoch 58/100
2/2 [==============================] - 0s 21ms/step - loss: 6743.6221 - mean_squared_error: 197000768.0000 - val_loss: 5193.0371 - val_mean_squared_error: 56039856.0000
Epoch 59/100
2/2 [==============================] - 0s 22ms/step - loss: 6677.5591 - mean_squared_error: 192289344.0000 - val_loss: 5730.8247 - val_mean_squared_error: 58962944.0000
Epoch 60/100
2/2 [==============================] - 0s 22ms/step - loss: 6700.6025 - mean_squared_error: 183516880.0000 - val_loss: 5384.4551 - val_mean_squared_error: 55526596.0000
Epoch 61/100
2/2 [==============================] - 0s 23ms/step - loss: 6657.2720 - mean_squared_error: 188550464.0000 - val_loss: 5202.1304 - val_mean_squared_error: 55725720.0000
Epoch 62/100
2/2 [==============================] - 0s 23ms/step - loss: 6604.7256 - mean_squared_error: 190382944.0000 - val_loss: 5535.9644 - val_mean_squared_error: 57146924.0000
Epoch 63/100
2/2 [==============================] - 0s 22ms/step - loss: 6633.6772 - mean_squared_error: 183943440.0000 - val_loss: 5341.8623 - val_mean_squared_error: 55533476.0000
Epoch 64/100
2/2 [==============================] - 0s 23ms/step - loss: 6696.3247 - mean_squared_error: 191274496.0000 - val_loss: 5062.7573 - val_mean_squared_error: 55503292.0000
Epoch 65/100
2/2 [==============================] - 0s 26ms/step - loss: 6637.8071 - mean_squared_error: 194319472.0000 - val_loss: 5378.2202 - val_mean_squared_error: 55341572.0000
Epoch 66/100
2/2 [==============================] - 0s 22ms/step - loss: 6575.3062 - mean_squared_error: 183286816.0000 - val_loss: 5522.6719 - val_mean_squared_error: 56427892.0000
Epoch 67/100
2/2 [==============================] - 0s 22ms/step - loss: 6554.3584 - mean_squared_error: 183297856.0000 - val_loss: 5126.8423 - val_mean_squared_error: 54131940.0000
Epoch 68/100
2/2 [==============================] - 0s 31ms/step - loss: 6537.7524 - mean_squared_error: 191035568.0000 - val_loss: 5050.6719 - val_mean_squared_error: 54831976.0000
Epoch 69/100
2/2 [==============================] - 0s 37ms/step - loss: 6528.2607 - mean_squared_error: 188463312.0000 - val_loss: 5381.3135 - val_mean_squared_error: 56325328.0000
Epoch 70/100
2/2 [==============================] - 0s 21ms/step - loss: 6542.3682 - mean_squared_error: 184164000.0000 - val_loss: 5332.5894 - val_mean_squared_error: 55176792.0000
Epoch 71/100
2/2 [==============================] - 0s 23ms/step - loss: 6474.9673 - mean_squared_error: 187259968.0000 - val_loss: 5162.0786 - val_mean_squared_error: 55702520.0000
Epoch 72/100
2/2 [==============================] - 0s 22ms/step - loss: 6525.4634 - mean_squared_error: 192448880.0000 - val_loss: 5348.9590 - val_mean_squared_error: 56558168.0000
Epoch 73/100
2/2 [==============================] - 0s 23ms/step - loss: 6499.1704 - mean_squared_error: 186517264.0000 - val_loss: 5406.7104 - val_mean_squared_error: 56488280.0000
Epoch 74/100
2/2 [==============================] - 0s 20ms/step - loss: 6492.5166 - mean_squared_error: 187832112.0000 - val_loss: 5104.2173 - val_mean_squared_error: 54978180.0000
Epoch 75/100
2/2 [==============================] - 0s 24ms/step - loss: 6544.4331 - mean_squared_error: 191405424.0000 - val_loss: 5149.7559 - val_mean_squared_error: 54615100.0000
Epoch 76/100
2/2 [==============================] - 0s 25ms/step - loss: 6487.0391 - mean_squared_error: 184006368.0000 - val_loss: 5494.8340 - val_mean_squared_error: 58224060.0000
Epoch 77/100
2/2 [==============================] - 0s 28ms/step - loss: 6533.9980 - mean_squared_error: 185909152.0000 - val_loss: 5437.2197 - val_mean_squared_error: 58309904.0000
Epoch 78/100
2/2 [==============================] - 0s 31ms/step - loss: 6524.5015 - mean_squared_error: 191339392.0000 - val_loss: 5230.9644 - val_mean_squared_error: 57328692.0000
Epoch 79/100
2/2 [==============================] - 0s 23ms/step - loss: 6590.2007 - mean_squared_error: 188776640.0000 - val_loss: 5347.6758 - val_mean_squared_error: 56177124.0000
Epoch 80/100
2/2 [==============================] - 0s 30ms/step - loss: 6604.8198 - mean_squared_error: 184389296.0000 - val_loss: 5172.0044 - val_mean_squared_error: 55465112.0000
Epoch 81/100
2/2 [==============================] - 0s 22ms/step - loss: 6503.5068 - mean_squared_error: 186682672.0000 - val_loss: 5533.3716 - val_mean_squared_error: 59047180.0000
Epoch 82/100
2/2 [==============================] - 0s 24ms/step - loss: 6564.3169 - mean_squared_error: 183403824.0000 - val_loss: 5688.7563 - val_mean_squared_error: 59243144.0000
Epoch 83/100
2/2 [==============================] - 0s 26ms/step - loss: 6664.9556 - mean_squared_error: 188285968.0000 - val_loss: 5303.5781 - val_mean_squared_error: 58235948.0000
Epoch 84/100
2/2 [==============================] - 0s 22ms/step - loss: 6671.8770 - mean_squared_error: 191281072.0000 - val_loss: 5531.0571 - val_mean_squared_error: 60400464.0000
Epoch 85/100
2/2 [==============================] - 0s 25ms/step - loss: 6535.8638 - mean_squared_error: 183819616.0000 - val_loss: 5612.0820 - val_mean_squared_error: 57720664.0000
Epoch 86/100
2/2 [==============================] - 0s 25ms/step - loss: 6701.3257 - mean_squared_error: 182545840.0000 - val_loss: 5306.7393 - val_mean_squared_error: 56654944.0000
Epoch 87/100
2/2 [==============================] - 0s 27ms/step - loss: 6539.9429 - mean_squared_error: 186934864.0000 - val_loss: 5387.2930 - val_mean_squared_error: 58291316.0000
Epoch 88/100
2/2 [==============================] - 0s 23ms/step - loss: 6517.5977 - mean_squared_error: 185057296.0000 - val_loss: 5535.0308 - val_mean_squared_error: 58231692.0000
Epoch 89/100
2/2 [==============================] - 0s 25ms/step - loss: 6659.6523 - mean_squared_error: 184482976.0000 - val_loss: 5384.5894 - val_mean_squared_error: 57377692.0000
Epoch 90/100
2/2 [==============================] - 0s 29ms/step - loss: 6405.1909 - mean_squared_error: 183151600.0000 - val_loss: 5381.4590 - val_mean_squared_error: 58519000.0000
Epoch 91/100
2/2 [==============================] - 0s 21ms/step - loss: 6459.9697 - mean_squared_error: 183239104.0000 - val_loss: 5216.4761 - val_mean_squared_error: 55952820.0000
Epoch 92/100
2/2 [==============================] - 0s 22ms/step - loss: 6630.5610 - mean_squared_error: 188844368.0000 - val_loss: 5147.1421 - val_mean_squared_error: 55626240.0000
Epoch 93/100
2/2 [==============================] - 0s 23ms/step - loss: 6466.9771 - mean_squared_error: 183161616.0000 - val_loss: 5697.4897 - val_mean_squared_error: 61168244.0000
Epoch 94/100
2/2 [==============================] - 0s 22ms/step - loss: 6471.8672 - mean_squared_error: 179554688.0000 - val_loss: 5311.5488 - val_mean_squared_error: 56047264.0000
Epoch 95/100
2/2 [==============================] - 0s 22ms/step - loss: 6466.5601 - mean_squared_error: 189546496.0000 - val_loss: 4989.1387 - val_mean_squared_error: 56117864.0000
Epoch 96/100
2/2 [==============================] - 0s 22ms/step - loss: 6410.2500 - mean_squared_error: 190232720.0000 - val_loss: 5200.9683 - val_mean_squared_error: 54981720.0000
Epoch 97/100
2/2 [==============================] - 0s 25ms/step - loss: 6418.3711 - mean_squared_error: 179052160.0000 - val_loss: 5665.0581 - val_mean_squared_error: 60183832.0000
Epoch 98/100
2/2 [==============================] - 0s 23ms/step - loss: 6450.2578 - mean_squared_error: 177851520.0000 - val_loss: 5003.9390 - val_mean_squared_error: 53839772.0000
Epoch 99/100
2/2 [==============================] - 0s 27ms/step - loss: 6355.7314 - mean_squared_error: 185026288.0000 - val_loss: 4947.6777 - val_mean_squared_error: 54591556.0000
Epoch 100/100
2/2 [==============================] - 0s 23ms/step - loss: 6388.9990 - mean_squared_error: 183142384.0000 - val_loss: 5246.8013 - val_mean_squared_error: 56411640.0000

##Evaluating the Model
Now it's time to test/evaluate the model. We can do this quite easily using another builtin method from keras.

The *verbose* argument is defined from the keras documentation as:
"verbose: 0 or 1. Verbosity mode. 0 = silent, 1 = progress bar."

In [156]:
test_loss, test_acc = model.evaluate(X_test,  y_test, verbose=1)

3/3 [==============================] - 0s 3ms/step - loss: 7508.5244 - mean_squared_error: 107133096.0000

##Making Predictions
To make predictions we simply need to pass an array of data in the form we've specified in the input layer to ```.predict()``` method.

In [157]:
predictions = model.predict(X_test)

WARNING:tensorflow:5 out of the last 13 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f0ea3db4b00> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Converting dataframe to NumPy array for combining both the predicted and real data

In [158]:
real = y_test.to_numpy()

Reshaping the test data to the same of predicted data

In [159]:
real= real.reshape(predictions.shape)

Combining both the predicted values and the actual values for a side-by-side comparison

In [160]:
results = pd.DataFrame(predictions,columns = ['Predicted'])
results['Real'] = real
results

       Predicted     Real
0   58618.039062  48600.0
1   60504.183594  72240.0
2   19432.945312  10780.0
3   55175.824219  41184.0
4   65485.500000  72240.0
..           ...      ...
66   9807.993164  12600.0
67  58448.828125  62920.0
68  47132.640625  39415.0
69  68847.812500  72240.0
70  60290.121094  62920.0

[71 rows x 2 columns]

# Remarks

We have tried to implement the approach followed in the paper with modifications based on the constraints we faced. But as you can see the model is far from predicting accurate values. 

There are some specific factors that contribute to this:

1. The dataset used in the paper isn't accessible or present in the internet since those readings were generated in labs. Therefore recreating the same results isn't possible. Therefore, we had to scrape data from a website which also doesn't provide us with a big dataset.
2. The real world data collected isn't sufficient enough in terms of attributes needed for the model (i.e., variables such as block coefficient  `Cb` and Waterplane Area Coefficient  `Cw` aren't available to use and can't be calculated with the given dataset)
3. Removal of outliers hasn't been done because of the small dataset that is available to us.

With better quality and quantity of data, we can however achieve better results than that of achived here. This just shows how such simple models can be used for solving complex problems in real-time and how we could exploit its advantage for development of the field.